a{
    display: inline-block;
    color: purple; 
    text-decoration: none; 
    border: 1.5px solid rgb(14, 108, 215);
    transition: all 0.3s ease; 
}

.external-css {
    color: blanchedalmond;
    background-color: blue;
}
