a{
    display: inline-block;
    color: rgb(121, 11, 121); 
    text-decoration: none; 
    border: 1.5px solid rgb(14, 108, 215);
    transition: all 0.3s ease; 
}

.external-css {
    color: blanchedalmond;
    background-color: rgb(33, 33, 113);
}

body {
    background-color: rgb(189, 127, 255);
}

p {
    font-size: 16px;
    color: blue;
    margin-bottom: 12px;
}

a {
    display: inline-block; 
    color: rgb(152, 10, 10); 
    text-decoration: none; 
    padding: 3px 6px; 
    border: 1px solid palevioletred; 
    transition: all 0.2s ease;
}

a:hover {
    background-color: #c616d6; /
    color: white;
}

button:hover {
    background-color: red; 
}

.feature-card {
    border: 5px solid #7f8c8d; 
    padding: 20px; 
    margin: 20px; 
    background-color: #f9f9f9; 
}

.feature-card h3 {
    font-size: 20px; 
    margin-bottom: 10px;
    color: #2c3e50; 
}

.feature-card p {
    margin-bottom: 10px; 
    color: #7f8c8d;
}

#special-feature {
    background-color: #a7fdf3; 
    border-color: #12f39d; 
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1); 
}

h1, h2, h3 {
    color: #0e67c0;
}

a {
    text-decoration: none;
    color: rgb(15, 15, 231);
}

p a {
    color: rgb(255, 247, 0);
}
/* adding this comment so I could push sync to github */