a{
    display: inline-block;
    color: purple; 
    text-decoration: none; 
    border: 1.5px solid rgb(14, 108, 215);
    transition: all 0.3s ease; 
}

.external-css {
    color: blanchedalmond;
    background-color: rgb(33, 33, 113);
}

body {
    background-color: rgb(189, 127, 255);
}

p {
    font-size: 16px;
    color: blue;
    margin-bottom: 12px;
}

a {
    display: inline-block; 
    color: black; 
    text-decoration: none; 
    padding: 3px 6px; 
    border: 1px solid palevioletred; 
    transition: all 0.2s ease;
}